# The following should not be on `gh-pages` branch

# Repo and tool extras
.github/
.vscode/
.editorconfig
.gitignore

# Ruby and jekyll build directories
.sass-cache/
.jekyll-metadata/
public/
vendor/
.bundle/

# `master` branch development stuff
_config.yml
Gemfile
Gemfile.lock
.jekyll-cache/
_includes/
_layouts/
_sass/
_posts/
_site/
.rubocop.yml
