# The following should not be on `gh-pages` branch

# Repo and tool extras
.github/
.vscode/
.editorconfig
.gitignore

# Ruby and jekyll build directories
.sass-cache/
.jekyll-metadata/
.jekyll-cache/
public/
vendor/
.bundle/
Gemfile.lock

# `master` branch development stuff
_config.yml
Gemfile
_includes/
_layouts/
_sass/
_posts/
_site/
.rubocop.yml
cp_repo/
as_repo/
zt_repo/
